<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Trigo! About</title>
    </head>
    <body>
        <header>
            <h1>About</h1>
        </header>
       <main>
		<p>Trigo is essentially the same as Go only played on a triangular grid. The default ruleset is a hybrid one where both territory, stones and captures count as points. The KO rule is simple, the state of the board is not allowed to repeat.</p>
		
		<p>Why hybrid rules? Usually Japanese rules are used due to faster counting but Chinese rules are more robust, any disagreement can simply be played out whereas the Japanese ruleset implements special cases that arguably are flawed in the presence of unremovable KO-threats. No doubt it is confusing why a group that can live via KO is considered dead when the other player can (potentially) remove all KO threats before starting the KO, removing all KO-threats costs a lot of points so why is it just dead? The answer is because the hypothetical playout ("I can capture this, therefore it is dead") emulates Chinese rules where the KO-threats can be removed at no cost. Players are used to get points for captures but China has many more players so instead of choosing one let's merge them, give points for everything! A perk is that those long running 1 point KOs at the end of the game mostly vanish.</p>

		<p>The project is open source and can be found at: <a href='https://github.com/jhlq/Trigo'>github.com/jhlq/Trigo</a></p>
        </main>
        
    {{.Footer}}
    </body>
</html>
