{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Trigo! {{template "title"}}</title>
{{template "header"}}
</head>
<body>
	{{template "body"}}
	{{template "footer"}}
	{{template "js"}}
</body>
</html>
{{end}}
