{{define "title"}}Contact{{end}}
{{define "body"}}
<h2>Contact</h2>
	<p>Please submit any issues you find to the github repository <a href='https://github.com/jhlq/Trigo'>github.com/jhlq/Trigo</a>. Thanks for your help!</p>
	<p>You can also reach out to me on my blog: <a href='https://jhlq.wordpress.com/'>jhlq.wordpress.com</a>. Or send an email to marcus.appelros at gmail dot com.</p>
{{end}}
