<footer class="footer">
	<small>
		Go is fun!
	</small>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/board/">Online board</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/contact/">Contact</a></li>
		</ul>
	</nav>
</footer> 
